.aboutSection {
  width: 85%;
  margin: 1rem auto;
  height: auto;
  background: transparent;
  font-family: "Open Sans", sans-serif;
}

.about {
  padding: 2rem 0rem 0rem 0rem;
  width: 90%;
  margin: 1rem auto;
  border-top: 1px solid #696969;
}

.about:first-of-type {
  border-top: 0px solid #696969;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoContainer .row {
  width: auto;
  text-align: center;
}

.about .logo {
  width: 5rem;
  height: auto;
  border-radius: 10px;
}

.about .grid {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about .left,
.about .right {
  text-align: center;
  max-width: 15rem;
}

.aboutSection h1 {
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
}

.aboutSection .grid h4 {
  font-size: 1.3rem;
  text-align: center;
}

.aboutSection .grid p {
  font-size: 1rem;
  text-align: center;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.founder {
  text-align: center;
}

.founder a {
  text-decoration: none;
  margin: 1rem;
}

.founder a img {
  width: 55px;
  height: 55px;
  margin-top: 4rem;
  border-radius: 10px;
}

.cardBx {
  position: relative;
  width: 300px;
  height: 350px;
  background: hsl(10, 10%, 95%);
  margin: 2rem auto;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.cardBx:before,
.cardBx:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: hsl(10, 10%, 95%);
  transition: 0.5s;
  z-index: -1;
}

.cardBx:hover:before {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}
.cardBx:hover:after {
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.cardBx .imgBx {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
}

.cardBx:hover .imgBx {
  bottom: 80px;
}

.cardBx .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardBx .details {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 60px;
  text-align: center;
}

.cardBx .details h2 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 20px;
  color: #777;
  text-align: center;
}

.cardBx .details h4 {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color: #00abff;
  display: block;
  margin-top: 5px;
}

/* !min mobil */
@media screen and (max-width: 800px) {
  .about .grid {
    display: unset;
  }

  .about .left,
  .about .right {
    max-width: unset;
  }
  .about p {
    padding-bottom: 5rem;
  }
}

@media screen and (max-width: 410px) {
  .about .grid h1 {
    font-size: 3rem;
  }

  .about img {
    width: 9rem;
  }
}
