.menuAnimePage {
  transition: 300ms;
  /* background-position: bottom; */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
}

.synopsis,
.animeBottom,
.animePageCommentsSection {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  margin: 0 auto;
  padding: 1%;
}

.animeTop {
  color: white;
}

.animePageFlex {
  padding: 5%;
  font-family: "Open Sans", sans-serif;
  background: inherit;
}

.animeBottom,
.synopsis {
  background-color: #0583f2;
  color: white;
}

.statePage .animePageFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.statePage .animePageFlex>.right {
  flex: 50%;
}

.AnimePageImg {
  position: relative;
  z-index: 1;
  display: block;
  border-radius: 15px;
  width: auto;
  height: 30rem;
  object-fit: cover;
  margin: 0 auto;
  box-shadow: 4px 6px 8px 2px rgba(0, 0, 0, 0.1);
}

.statePage .titles {
  max-width: 65%;
}

.statePage .title {
  font-size: 2.3rem;
  font-weight: bold;
  margin-block-end: 0em;
  color: white;

}

.statePage .titleJp {
  font-size: 1.4rem;
  margin-block-start: 0.5rem;
  margin-block-end: 1em;
  font-weight: italic;
  opacity: 0.7;
  color: white;

}

.statePage .rankInfo {
  font-size: 1.6rem;
  padding: 2rem;
}

.statePage .titleFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  padding-bottom: 0;
  margin-block-end: 0rem;
}

.statePage .synopsis {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0;
  padding-bottom: 0;
  margin-block-start: 1rem;
  font-size: 1.3rem;
}

.statePage .synopsis .rankInfo {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-block-end: 0rem;
  font-size: 1.5rem;
  padding: 2rem;
  margin: 2rem auto;
}

.statePage .synopsis h2 {
  font-size: 1.4em;
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}

.statePage .synopsis p {
  font-weight: normal;
  font-size: 1.1rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
  width: 95%;
  opacity: 0.7;
  margin: 0 auto;
}

.statePage .rankInfo span:nth-of-type(2n) {
  margin-right: 1rem;
}

.animeInfo {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px 10px;
  border: 1px solid #FF85A1;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.15);
  margin: 1rem;
}

.animePageWrapper {
  display: none;
  padding: 2rem;
  padding-top: 0rem;
  padding-bottom: 10rem;
}

.statePage .beforeState {
  font-size: 1.3em;
  font-weight: bold;
  margin-block-end: 0em;
  color: #f27d16;
  opacity: 1;
  text-decoration: underline;
}

.statePage .state {
  opacity: 0.9;
  color: white;
}

.statePage .score .beforeState {
  color: white;
  font-size: 2rem;
}


.statePage .score {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2.5rem;
  margin-bottom: 5rem;
  border-radius: 10px;
  box-shadow: 4px 6px 8px 2px rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.scoreNumber {
  font-size: 4em;
}

.statePage .score .state {
  opacity: 1;
}

.tag img {
  position: absolute !important;
  bottom: 0px !important;
  left: 0px !important;
  border-radius: 0px 10px 0px 10px !important;
  width: 7rem !important;
  height: 10rem !important;
  object-fit: cover !important;
}

.animeBottom .pageTypeWrapper {
  width: 80%;
  margin: 0 auto;
}

.animeBottom .pageType {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 1.4em;
}

.animeBottom .pageType p {
  cursor: pointer;
  transition: 200ms;
}

.animeBottom .pageType p:hover,
.animeBottom .pageType p:active {
  color: #f27d16;
}

.charGallery {
  margin: 4rem auto
}

.vcCard {
  padding-top: 5rem;
}

.vcCard2 {
  margin-top: -3rem;
}

/* !comments */
.commentDiv {
  margin-top: 5rem;
  display: flex;
}

.titleComments {
  font-size: 3rem;
  word-wrap: break-word;
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 0rem;
  padding-bottom: 0rem;
}

.titleComments:first-of-type {
  margin-top: 0rem;
  margin-bottom: 2rem;
}

.reviewerImgDiv {
  margin-right: 1.5rem;
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
  align-items: top;
  text-align: center;
}

.reviewerImg {
  width: 7rem;
  height: 7rem;

  border: 2px solid #0583f2;
  border-radius: 50%;
  transition: 200ms;
}

.reviewerImg:hover {
  border: 4px solid #0583f2;
}

.reviewName {
  color: #0583f2;
  transition: 300ms;
  font-size: 18px;
  font-weight: bold;
}

.reviewName:hover {
  color: #f27d16;
  transform: scale(1.05);
}

.reviewInfo {
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid #0583f2;
}

.reviewDate {
  opacity: 0.8;
  font-size: 14px;
  padding-bottom: 0.2rem;
  border-bottom: 2px solid #f27d16;
}

.revireContent {
  font-size: 17px;
}

/* !extra */

.locked {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 5rem;
}

.cardTitle {
  font-size: 1.3rem;
}

.hidden {
  display: none;
}

.lockedText h1 {
  font-size: 2rem;
  text-align: center;
}

@media screen and (max-width: 960px) {
  .statePage .animePageFlex {
    display: unset;
  }

  .statePage .titles,
  #main-content {
    max-width: 90%;
    margin: 2rem auto;
  }

  .statePage .titleFlex {
    display: unset;
    padding-bottom: 0;
    margin-block-end: 0rem;
    text-align: center;
  }

  .statePage .score {
    width: 180px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .statePage .rankInfo {
    margin: 0 auto;
    padding: 2rem;
  }

  .AnimePageImg {
    position: unset;
  }

  .scoreNumber {
    font-size: 3em;
  }


  .statePage .score .beforeState {
    color: white;
    font-size: 1.3rem;
  }


  .animeInfo {
    padding: 1rem;
    margin: 2rem;
    display: block;
    word-wrap: break-word;
  }

  .animeInfo div {
    padding-bottom: 1rem;
  }

  .iframe button {
    font-size: 1.6rem;
  }

  .locked {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 5rem;
  }

  .lockedText h1 {
    display: none;
  }

  .hidden {
    display: unset;
  }
}

@media screen and (max-width: 760px) {
  .reviewerImg {
    width: 5rem;
    height: 5rem;
  }

  .rankInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    font-size: 1.4em;
    padding: 0rem;
  }

  .rankInfo span:nth-of-type(2n) {
    padding-bottom: 2rem;
  }

  .statePage .beforeState {
    font-size: 1.5rem;
  }

  .statePage .state {
    font-size: 1.3rem;
  }

  .statePage .synopsis {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .statePage .scoreNumber {
    font-size: 2rem;
  }

  .statePage .synopsis h1 {
    padding-top: 4rem;
  }

  .iframe button {
    font-size: 1.4rem;
  }

  .imgCard {
    max-width: 5rem;
    margin: 0;
  }
}

@media screen and (max-width: 540px) {

  .AnimePageImg {
    height: 20rem;
  }


  .statePage .titles {
    padding: 5%;
    margin: 0 auto;
    text-align: center;
  }

  .statePage .synopsis h1 {
    padding-top: 2rem;
  }

  .statePage .synopsis .rankInfo {
    padding-left: 0rem;
    padding-right: 0rem;
    text-align: center;
  }

  .statePage .animeInfo {
    text-align: center;
  }

  .commentDiv {
    margin-top: 2rem;
    display: unset;
    margin-bottom: 1rem;
  }

  .reviewerImgDiv {
    margin: 0;
    margin-block-start: 3em;
  }

  .reviewName {
    margin-block-start: 0em;
    margin-block-end: 1em;
  }

  .revireContent {
    font-size: 17px;
  }

  .titleComments {
    font-size: 1.5rem;
  }

  .iframe button {
    font-size: 1.3rem;
  }

  .imgCard {
    margin: 2rem;
  }

  .cardTitle {
    font-size: 0.7rem;
  }
}

/* !heart */

#main-content {
  justify-content: start;
  border-radius: 14px;
  width: min-content;
  padding: 0.5rem;
  border: 3px solid #0583f2;
}

svg {
  cursor: pointer;
  overflow: visible;
  width: 60px;
}

svg #heart {
  transform-origin: center;
  animation: animateHeartOut 0.3s linear forwards;
}

svg #main-circ {
  transform-origin: 29.5px 29.5px;
}

#checkbox {
  display: none;
}

#checkbox:checked+label svg #heart {
  transform: scale(0.2);
  fill: #e2264d;
  animation: animateHeart 0.3s linear forwards 0.25s;
}

#checkbox:checked+label svg #main-circ {
  transition: all 2s;
  animation: animateCircle 0.3s linear forwards;
  opacity: 1;
}

#checkbox:checked+label svg #grp1 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

#checkbox:checked+label svg #grp1 #oval1 {
  transform: scale(0) translate(0, -30px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

#checkbox:checked+label svg #grp1 #oval2 {
  transform: scale(0) translate(10px, -50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

#checkbox:checked+label svg #grp2 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

#checkbox:checked+label svg #grp2 #oval1 {
  transform: scale(0) translate(30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

#checkbox:checked+label svg #grp2 #oval2 {
  transform: scale(0) translate(60px, -15px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

#checkbox:checked+label svg #grp3 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

#checkbox:checked+label svg #grp3 #oval1 {
  transform: scale(0) translate(30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

#checkbox:checked+label svg #grp3 #oval2 {
  transform: scale(0) translate(60px, 10px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

#checkbox:checked+label svg #grp4 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

#checkbox:checked+label svg #grp4 #oval1 {
  transform: scale(0) translate(30px, 15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

#checkbox:checked+label svg #grp4 #oval2 {
  transform: scale(0) translate(40px, 50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

#checkbox:checked+label svg #grp5 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

#checkbox:checked+label svg #grp5 #oval1 {
  transform: scale(0) translate(-10px, 20px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

#checkbox:checked+label svg #grp5 #oval2 {
  transform: scale(0) translate(-60px, 30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

#checkbox:checked+label svg #grp6 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

#checkbox:checked+label svg #grp6 #oval1 {
  transform: scale(0) translate(-30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

#checkbox:checked+label svg #grp6 #oval2 {
  transform: scale(0) translate(-60px, -5px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

#checkbox:checked+label svg #grp7 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

#checkbox:checked+label svg #grp7 #oval1 {
  transform: scale(0) translate(-30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

#checkbox:checked+label svg #grp7 #oval2 {
  transform: scale(0) translate(-55px, -30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

#checkbox:checked+label svg #grp2 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

#checkbox:checked+label svg #grp3 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

#checkbox:checked+label svg #grp4 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

#checkbox:checked+label svg #grp5 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

#checkbox:checked+label svg #grp6 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

#checkbox:checked+label svg #grp7 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

@keyframes animateCircle {
  40% {
    transform: scale(10);
    opacity: 1;
    fill: #dd4688;
  }

  55% {
    transform: scale(11);
    opacity: 1;
    fill: #d46abf;
  }

  65% {
    transform: scale(12);
    opacity: 1;
    fill: #cc8ef5;
  }

  75% {
    transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.5;
  }

  85% {
    transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.2;
  }

  95% {
    transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.1;
  }

  100% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0;
  }
}

@keyframes animateHeart {
  0% {
    transform: scale(0.2);
  }

  40% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes animateHeartOut {
  0% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}