.newsCard {
  height: 33rem;
  margin-top: -4rem;
  user-select: none;
}

.card {
  background-color: #fff;
  border-radius: 32px;
  box-shadow: 20px 20px 0px -5px #00abff;
  max-width: 75%;
  height: 27rem;

  margin: 1rem auto;
  overflow: hidden;
  display: grid;
  grid-template-columns: 4fr 2.5fr;
}

.card h6 {
  opacity: 0.6;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.featured h6 {
  padding: 10px;
  border-radius: 16px;
  background-color: #0583f2;
  color: white;
  opacity: 1;
  display: unset;
}

.card h6 i {
  color: #0583f2;
}

.card h2 {
  letter-spacing: 1px;
  margin: 10px 0;
  font-size: 2.2rem;
  display: flex;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

.img {
  background: url("https://i.pinimg.com/originals/5f/12/b9/5f12b974076736afe4bfe170b36b5e89.jpg");
  background-position: center;
  background-position-y: -220px;
  zoom: 59%;
}

.card.remove {
  display: none;
}

.card-info {
  padding: 40px;
  position: relative;
  width: 100%;
}

.scroll {
  width: 9%;
  position: absolute;
  top: 93%;
  left: 50%;

  transform: translate(-50%, -50%);
}
