footer {
  background: #fefefe;
  padding: 90px 0px 60px 0px;
  font-family: "Lato", sans-serif;
  transition: background 1s ease-in-out;
}

.footer-container {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer p {
  transition: 350ms ease-in-out;
}

footer .logo {
  margin: 0;
  cursor: pointer;
  user-select: none;
  font-size: 2rem;
  transition: 500ms;
  color: #0583f2;
  margin: 20px 0;
  width: 20%;
}

footer .logo:first-letter {
  color: #f27d16;
}

footer .logo:hover::first-letter,
footer .logo:active::first-letter {
  color: #0583f2;
}

footer .logo:hover,
footer .logo:active {
  color: #f27d16;
  transition: 0.4s ease 0s;
}

.social-media {
  margin: 20px 0;
}

.social-media a {
  color: #001a21;
  margin-right: 25px;
  font-size: 1.25rem;
  text-decoration: none;
  transition: 0.3s linear;
  padding: 0.2rem;
}

.social-media a:hover {
  color: #0583f2;
  border-radius: 50%;
  border: 3.5px solid #0583f2;
}

.rights-text {
  margin: 40px 0 0 0;
}

.right-col h1 {
  font-size: 26px;
  transition: 300ms ease-in-out;
}

.border {
  width: 120px;
  height: 4px;
  background: #0583f2;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: 300ms ease-in-out;
}

.txtb {
  flex: 1;
  transition: 300ms ease-in-out;
  padding: 18px 40px;
  font-size: 16px;
  color: #293043;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  min-width: 260px;
}

.txtb::placeholder {
  color: #293043;
  opacity: 1;
}

.btn {
  padding: 18px 40px;
  font-size: 16px;
  color: #f1f1f1;
  background: #0583f2;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.btn:hover {
  opacity: 0.7;
}

@media screen and (max-width: 900px) {
  .footer-container {
    max-width: 600px;
  }
  footer .logo {
    margin: 0 auto;
  }
  .right-col {
    width: 100%;
    margin-bottom: 30px;
  }

  .left-col {
    width: 100%;
    text-align: center;
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 600px) {
  .btn {
    margin: 0;
    width: 100%;
    margin-top: 20px;
  }
}
