.genre {
  padding-top: 5rem;
  padding-left: 2rem;
  border-left: 1px solid black;
}

.genres {
  overflow: hidden;
  text-align: center;
}

.genres li a {
  color: #333;
  width: 100px;
  padding: 7px 10px;
  white-space: nowrap;
  display: flex;
  float: left;
  flex-wrap: wrap;
  border: 1px solid #ddd;
  margin: 4px;
  transition: 400ms;
}

.genres li a:hover {
  text-decoration: none;
  background: #0583f2;
  transition: 0.3s all ease;
}

.shop .grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
