.menu {
  background: linear-gradient(
      to bottom,
      rgba(5, 131, 242, 0.85),
      rgba(5, 131, 242, 0.98)
    ),
    url("https://i.pinimg.com/originals/5f/12/b9/5f12b974076736afe4bfe170b36b5e89.jpg")
      right top -20rem;
  transition: 300ms;
  width: 100vw;
}

.menu-content {
  max-height: 8rem;
  font-size: 1.3rem;
  height: 5rem;
  font-family: "Open Sans", sans-serif;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  font-size: 1.6rem;
  z-index: 10000000;
  width: 100%;
  padding: 30px 5%;
  top: 0%;
  height: 8rem;
  transition: 300ms ease-in-out;
}

.space {
  width: 100%;
}

.space.big {
  height: 5rem;
}

.firstMenu {
  align-items: center;
}

.menu-content li {
  display: inline-block;
  padding: 0% 20px;
}

.menu-content li a {
  transition: 0.4s ease 0s;
  color: white;
  text-decoration: none;
  transition: 200ms;
}

.menu-content li a:hover {
  transition: 0.4s ease 0s;
  color: #f27d16;
}

.menu-content .left {
  display: flex;
  color: white;
  margin-right: auto;
}

.logo a {
  font-size: 1.4em;
  transition: 500ms;
  text-decoration: none;
}

.menu-content .left a {
  color: white;
}

.menu-content .left a:first-letter {
  color: #f27d16;
}

.menu-content .left a:hover::first-letter,
.menu-content .left a:active::first-letter {
  color: white;
}

.menu-content .left a:hover,
.menu-content .left a:active {
  color: #f27d16;
  transition: 0.4s ease 0s;
}

/* !mobile */
.hamburgerNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.navButton {
  display: none !important;
  font-size: 1.2em !important;
  margin: 0.55rem !important;
  color: white !important;
}

.hamburgerNavContent {
  position: relative;
  top: 5%;
  text-align: center;
  margin-top: 30px;
  width: 100%;
}

.hamburgerNavContent ul {
  padding-inline-start: 0px;
}

.hamburgerNavContent a {
  padding: 1rem;
  font-size: 1.7rem !important;
  display: inline-block;
  height: 100px;
  margin-left: 10px;
  width: 320px;
  transition: 0.4s;
}

.hamburgerNavContent a:hover,
.hamburgerNavContent a:focus {
  color: #f1f1f1;
}

.hamburgerNav .closeButton {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 2rem;
  cursor: pointer;
  color: white;
  text-align: right;
}

@media screen and (min-width: 180px) and (max-width: 400px) {
  .hamburgerNavContent a {
    font-size: 25px !important;
    height: 80px;
  }

  .hamburgerNavContent {
    top: 15%;
  }
  .hamburgerNav .closeButton {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* !login */
#whenSignedOut.hidden {
  display: none;
}

#whenSignedIn.hidden {
  display: none;
}

#whenSignedOut.not-hidden {
  display: block;
  /* float: left; */
  clear: left;
}

#whenSignedIn.not-hidden {
  display: block;
  /* float: left; */
  clear: left;
}

.userProfile {
  width: 4rem;
  height: 4rem;
  border: 2px solid #0583f2;
  border-radius: 50%;
  align-items: center;
  transition: 200ms;
}

.userProfile:hover {
  border: 4px solid #0583f2;
}

.dropdown-item {
  width: 15vw;
  opacity: 0;
  z-index: 0;
  display: none;
  background: white;
  /* color: #212121; */
  border-top: 3px solid black;

  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
}

.dropdown-item.active {
  z-index: 99999999999999999;
  opacity: 1;
  display: block;
  transition: 500ms;
}

.dropdown-item span {
  display: block;
  cursor: pointer;
  margin-top: 1rem;
  text-align: center;
  justify-content: center;
  transition: 500ms ease-in-out;
}

.dropdown-item span:not(:first-child):hover {
  transition: 300ms ease-in;
  color: var(--blue);
}

.dropdown-item span:last-of-type:hover {
  transition: 300ms ease-in;
}

.dropdown-item span:not(:first-child)::before {
  content: "»   ";
  font-size: 24px;
  opacity: 0;
  margin-left: -40px;
  transition: 0.7s;
}

.dropdown-item span:last-of-type::before {
  content: "»   ";
  font-size: 32px;
  opacity: 0;
  margin-left: -60px;
  transition: 0.5s;
}

.dropdown-item span:not(:first-child):hover {
  padding-right: 8px;
  padding-left: 18px;
}

.dropdown-item span:not(:first-child):hover::before {
  opacity: 1;
  margin-left: 1rem;
}
