.menu {
  background: linear-gradient(
      to bottom,
      rgba(5, 131, 242, 0.85),
      rgba(5, 131, 242, 0.98)
    ),
    url("https://i.pinimg.com/originals/5f/12/b9/5f12b974076736afe4bfe170b36b5e89.jpg")
      right top -20rem;
  transition: 300ms;
  width: 100vw;
}

.menu-content.sticky {
  position: fixed;
  top: 0%;
  width: 100%;
  /* height: 5rem; */
  transition: 1500ms;
  background: inherit;
  z-index: 10000000;
}

.menu-content {
  font-family: "Open Sans", sans-serif;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 5%;
  transition: 1300ms;
}

.menu-content li {
  display: inline-block;
  padding: 0% 20px;
}

.menu li a {
  transition: 0.4s ease 0s;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  transition: 200ms;
}

.menu li a:hover {
  transition: 0.4s ease 0s;
  color: #f27d16;
}

.space {
  width: 100%;
  transition: 800ms;
}

.space.big {
  height: 5rem;
  transition: 800ms;
}

.menu .left {
  display: flex;
  color: white;
  margin-right: auto;
}

.logo a {
  font-size: 2em;
  transition: 500ms;
  text-decoration: none;
}

.menu .left a {
  color: white;
}

.menu .left a:first-letter {
  color: #f27d16;
}

.menu .left a:hover::first-letter,
.menu .left a:active::first-letter {
  color: white;
}

.menu .left a:hover,
.menu .left a:active {
  color: #f27d16;
  transition: 0.4s ease 0s;
}

/* !mobile */
.hamburgerNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.navButton {
  display: none !important;
  font-size: 1.5em !important;
  margin: 0.55rem !important;
  color: white !important;
}

.hamburgerNavContent {
  position: relative;
  top: 5%;
  text-align: center;
  margin-top: 30px;
  width: 100%;
}

.hamburgerNavContent ul {
  padding-inline-start: 0px;
}

.hamburgerNavContent a {
  padding: 1rem;
  font-size: 1.7rem !important;
  display: inline-block;
  height: 100px;
  margin-left: 10px;
  width: 320px;
  transition: 0.4s;
}

.hamburgerNavContent a:hover,
.hamburgerNavContent a:focus {
  color: #f1f1f1;
}

.hamburgerNav .closeButton {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 2rem;
  cursor: pointer;
  color: white;
  text-align: right;
}

@media screen and (min-width: 180px) and (max-width: 400px) {
  .hamburgerNavContent a {
    font-size: 25px !important;
    height: 80px;
  }

  .hamburgerNavContent {
    top: 15%;
  }
  .hamburgerNav .closeButton {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
