.menu {
  background: linear-gradient(
      to bottom,
      rgba(5, 131, 242, 0.87),
      rgba(5, 131, 242, 0.99)
    ),
    url("https://i.pinimg.com/originals/5f/12/b9/5f12b974076736afe4bfe170b36b5e89.jpg")
      right top -18.5rem;
  transition: 400ms;
  width: 100vw;
}

.sticky {
  position: fixed;
  top: 0%;
  height: 5rem;
  transition: 500ms;
  font-size: 1.1rem;
}

.menu-content {
  grid-gap: 0%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  user-select: none;
}

.menu a {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  transition: 200ms;
}

.menu a:hover {
  color: #f27d16;
}

.menu li {
  float: left;
}

.menu .right {
  padding-left: 32%;
}

.menu .right li a {
  display: block;
  text-align: center;
  margin: 0.75rem 1.5rem 1.5rem 1.75rem;
}

.menu .right li a:nth-child(5) {
  color: black;
}

.menu .left {
  display: block;
  text-align: center;
  font-size: 1.8rem;
  margin: 1.15rem 1.5rem 1.5rem 1.75rem;
  color: white;
  transition: 500ms;
  cursor: pointer;
}

.menu .left:hover {
  color: #f27d16;
}

/* !Search */
/* .cancel-btn {
  visibility: hidden;
}

.validate {
  visibility: hidden;
}
.cancel-btn.active {
  visibility: visible;
}

.validate.active {
  visibility: visible;
} */
