/* !Big Ass Computer */

@media screen and (min-width: 2041px) {
  .menu .right {
    padding-left: 45vw;
  }
  .img1,
  .img2,
  .img3,
  .img4 {
    background-position-y: -200px;
    zoom: 100%;
  }
}

@media screen and (max-width: 2040px) {
  .menu .right {
    padding-left: 30vw;
  }
  .img1,
  .img2,
  .img3,
  .img4 {
    background-position-y: -100px;
    zoom: 80%;
  }
}

/* !Big Computer */
@media screen and (max-width: 1640px) {
  .menu .right {
    padding-left: 25vw;
  }
  .img1 {
    background-position-y: -220px;
    zoom: 59%;
  }

  .img2 {
    background-position-y: 0px;
    zoom: 39%;
  }

  .img3 {
    background-position-y: 0px;
    background-position-x: -100px;
    zoom: 38%;
  }

  .img4 {
    background-position-y: -90px;
    background-position-x: -150px;
    zoom: 72%;
  }
}

/* !Big laptop */
@media screen and (max-width: 1439px) {
  .menu .right {
    padding-left: 15vw;
  }
  .card h2 {
    font-size: 1.7rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

/* !Mini Laptop */
@media screen and (max-width: 1210px) {
  .menu .right {
    padding-left: 5vw;
  }
  .card h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .featured h6 {
    padding: 7px;
    font-size: 10px;
  }
  .img1,
  .img2,
  .img3 {
    zoom: 45%;
  }
}

@media screen and (max-width: 1000px) {
  .navButton {
    display: flex !important;
  }

  .menu .menuLinks {
    display: none;
  }

  .menu .right {
    padding-left: 45vw;
  }

  .menu .right li a {
    margin: 1rem;
  }
  .newsRow {
    display: unset;
  }
  .newsCardInfo {
    font-size: 2vh;
  }
  .next {
    right: 6.5%;
  }
  .prev {
    left: 7.5%;
  }
  .card {
    height: 20rem;
  }
  .card h2 {
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .featured h6 {
    padding: 7px;
    font-size: 10px;
  }
  .img1,
  .img2,
  .img3 {
    zoom: 45%;
  }
}

/* !Ipad - Mobile */
@media screen and (max-width: 800px) {
  .imgRow {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 720px) {
  .menu .right {
    padding-left: 30vw;
  }
  .hamburgerNavContent {
    width: 30%;
  }
  .next {
    right: 5.5%;
  }
  .prev {
    left: 6.5%;
  }
  .card {
    display: block;
  }
  .card h2 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 560px) {
  .menu .right {
    padding-left: 15vw;
  }
  .hamburgerNavContent {
    width: 35%;
  }
  .newsCardInfo h2 {
    font-size: 0.8rem;
  }
  .newsLetter {
    height: 10rem;
  }
  .newsImg img {
    height: 10rem;
  }
  .imgRow {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }

  .card {
    height: 21rem;
  }
  .next {
    right: 4.5%;
  }
  .prev {
    left: 5.5%;
  }

  .card {
    display: block;
  }
  .card h2 {
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

/* !Smoll */
@media screen and (max-width: 460px) {
  .menu .right {
    padding-left: 0vw;
  }
  .hamburgerNavContent {
    width: 40%;
  }
  .next {
    right: 2.5%;
  }
  .prev {
    left: 1.5%;
  }
}

@media screen and (max-width: 400px) {
  .menu .menuExtra {
    display: none;
  }
  .menu .right {
    padding-left: 15vw;
  }
  .menu .logo {
    font-size: smaller;
  }
  .navButton {
    font-size: 2em !important;
    margin: 0 !important;
  }

  .hamburgerNavContent {
    width: 50%;
  }

  .imgRow {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }

  .imgCard:hover > .cardImage img,
  .imgCard:active > .cardImage img {
    height: 10rem;
  }

  .cardInfo {
    padding-top: 0;
    font-size: 0.6rem;
  }

  .cardImage img {
    height: 12rem;
  }

  .newsCardInfo h2 {
    font-size: 0.65rem;
  }

  .previewButton {
    font-size: 14px;
  }

  .tag {
    padding: 0.2;
    font-size: 0.7rem !important;
  }

  .cardCost2 {
    margin-block-start: 0em;
    margin-block-end: 0em;
  }
  .card h2 {
    font-size: 1.25rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  .card .featured h6 {
    font-size: 8px;
    padding: 6px;
  }
  .next {
    right: 0%;
  }
}

/* !min mobil */
@media screen and (max-width: 300px) {
  .menu .right {
    padding-left: 0vw;
  }
  .newsCardInfo h2 {
    font-size: 0.5rem;
  }
}
