/* !Big Ass Computer */

@media screen and (min-width: 2041px) {
  .menu .right {
    padding-left: 45vw;
  }
}

@media screen and (max-width: 2040px) {
  .menu .right {
    padding-left: 30vw;
  }
}

/* !Big Computer */
@media screen and (max-width: 1640px) {
  .menu .right {
    padding-left: 25vw;
  }
}

/* !Big laptop */
@media screen and (max-width: 1439px) {
  .menu .right {
    padding-left: 15vw;
  }
}

/* !Mini Laptop */
@media screen and (max-width: 1210px) {
  .menu .right {
    padding-left: 5vw;
  }
}

@media screen and (max-width: 1000px) {
  .navButton {
    display: flex !important;
  }

  .menu .menuLinks {
    display: none;
  }

  .menu .right {
    padding-left: 45vw;
  }

  .menu .right li a {
    margin: 1rem;
  }
}
/* !Ipad - Mobile */
@media screen and (max-width: 700px) {
  .menu .right {
    padding-left: 30vw;
  }
  .hamburgerNavContent {
    width: 30%;
  }
}

@media screen and (max-width: 560px) {
  .menu .right {
    padding-left: 15vw;
  }
  .hamburgerNavContent {
    width: 35%;
  }
}

/* !Smoll */
@media screen and (max-width: 460px) {
  .menu .right {
    padding-left: 0vw;
  }
  .hamburgerNavContent {
    width: 40%;
  }
}

@media screen and (max-width: 400px) {
  .menu .menuExtra {
    display: none;
  }
  .menu .right {
    padding-left: 15vw;
  }
  .navButton {
    font-size: 2em !important;
    margin: 0 !important;
  }
  .hamburgerNavContent {
    width: 50%;
  }
}

/* !min mobil */
@media screen and (max-width: 300px) {
  .menu .right {
    padding-left: 0vw;
  }
}
