.newsRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.newsLetter {
  position: relative;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
  border-radius: 10px;
  transition: 700ms;
  border: 1px solid black;
  height: 12rem;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.newsImg img {
  border-radius: 10px 0px 0px 10px;
  width: 100%;
  height: 12rem;
  object-fit: cover;
}

.newsCardInfo {
  font-size: 0.7rem;
  opacity: 0.8;
  padding: 1rem;
}

.newsCardInfo h2 {
  color: black;
  font-size: 1rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.newsCardInfo h2:hover {
  transition: 300ms;
  transition: underline 500ms;
}

.newsCardInfo h2::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #0583f2;
  transition: 700ms;
}

.newsCardInfo h2:hover::after {
  width: 20%;
}

.newsCardInfo h6 {
  color: #f27d16;
  font-size: 1em;
  margin-block-start: 0em;
  margin-block-end: 1em;
  font-weight: bold;
}

.newsCardInfo p {
  font-family: "Zilla Slab", serif;
  color: #0583f2;
  font-size: 1rem;
  margin-block-start: 0em;
  margin-block-end: 0.5em;
}

.newsLetter:hover,
.newsLetter:active {
  border: 2px solid #0583f2;
  transition: 400ms;
  transform: scale(1.03);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

.newsLetter:hover > .newsImg img,
.newsLetter:active > .newsImg img {
  padding-bottom: 5px;
  transition: 100ms;
}

/* !NEWS PAGE */
.newsSection2 {
  width: 85%;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

.newsLetter2 {
  color: black;
  position: relative;
  border-radius: 10px;
  display: flex;
  margin-top: 2rem;
  border-radius: 10px;
  transition: 700ms;
  border: 1px solid black;
  height: 11rem;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.newsImg2 img {
  border-radius: 40px;
  padding: 0.7rem;
  width: 10rem;
  height: 11rem;
  object-fit: cover;
  box-sizing: border-box;
  user-select: none;
}

.newsCardInfo2 {
  font-size: 1rem;
  padding: 1rem;
}

.newsCardInfo2 h2 {
  font-size: 1.5rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.newsCardInfo2 h2:hover {
  font-size: 1.53rem;
  transition: 300ms;
}

.newsCardInfo2 h2::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #0583f2;
  transition: 700ms;
}

.newsCardInfo2 h2:hover::after {
  width: 20%;
}

.newsCardInfo2 h6 {
  color: #f27d16;
  font-size: 0.7em;
  margin-block-start: 0.6em;
  margin-block-end: 0.6em;
  font-weight: bold;
}

.newsCardInfo2 p {
  font-family: "Zilla Slab", serif;
  color: #0583f2;
  font-size: 1rem;
}

.newsLetter2:hover,
.newsLetter2:active {
  border: 2px solid #0583f2;
  transition: 400ms;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

.pagination a {
  color: black;
  padding: 8px 16px;
}

.pagination a.active {
  background-color: #0583f2;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.center2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
