.reviewWrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  border-radius: 10px;
  width: 90%;
}

.reviewGrid {
  display: flex;
  border-radius: 20px;
  min-height: 30rem;
}

.shadow1 {
  height: 100%;
  width: 80%;
  background: #fff;
  position: absolute;
  bottom: -40px;
  left: 10%;
  border-radius: 20px;
  box-shadow: 0px 18px 52.8537px rgb(215 228 249 / 50%);
  user-select: none;
}

.shadow2 {
  height: 100%;
  width: 90%;
  background: #fff;
  position: absolute;
  bottom: -22px;
  left: 5%;
  border-radius: 20px;
  box-shadow: 0px 18px 52.8537px rgb(215 228 249 / 50%);
  user-select: none;
}

.previewScroll {
  height: auto;
  max-height: 180px;
  overflow-y: auto;
}

.slideshow {
  position: relative;
  min-height: 300px;
  height: auto;
  background: #fff;
  box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
  border-radius: 20px;
  z-index: 3;
}

.reviewText {
  color: #a0a0a5;
  font-family: "Poppins", Sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.6em;
  text-align: center;
  width: 95%;
  margin: 0 auto;
  max-height: 9rem;
  overflow-y: auto;
  border-bottom: 1px solid black;
}

.reviewContentAll {
  width: 90%;
  margin: auto;
  text-align: center;
}

.thumbnail {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  display: block;
  margin: 30px auto;
  user-select: none;
}

.reviewName,
.reviewDate {
  color: black;
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  word-wrap: break-word;
  margin-top: 15px;
}

.reviewDesc {
  font-size: 32px;
  text-align: center;
  word-wrap: break-word;
}

.reviewCover {
  margin-left: 30px;
  background-color: #fff;
  border-radius: 10px;
  height: 70%;
  width: 13rem;
  user-select: none;
}

.score {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-right: 10%;
}

.score h1 {
  font-weight: 400;
  font-size: 32px;
  padding-left: 50%;
  border-left: 1px solid #a0a0a5;
}

.score p {
  padding-left: 40%;
}

.story h1 {
  padding-left: 50%;
  border-left: 0px solid #a0a0a5 !important;
}

.reviewPrev1,
.reviewNext1 {
  color: black;
  border-radius: 10px;
  padding: 10px;
  font-size: 2rem;
  margin: 30px;
}

.reviewPrev2,
.reviewNext2 {
  display: none;
  color: black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  font-size: 2rem;
}

.reviewScroll::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}

.reviewScroll::-webkit-scrollbar-track {
  background-color: transparent;
}
.reviewScroll::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

.reviewScroll::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
}
.reviewScroll::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
}
