.validate {
  width: 100%;
  padding: 30px;
  border: 4px solid white;
  border-radius: 10px;
  outline: none;
  font-size: 28px;
  color: white;
  background: none;
  z-index: 0;
}

.searchBarMobile {
  width: 40%;
  font-size: 18px;
}

::placeholder {
  color: white;
  opacity: 0.8;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.65);
}

.modal-content {
  position: relative;
  margin: 15% auto;
  width: 50%;
}
