.container {
  margin: 0;
}

.imgRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.imgRow > * {
  flex-basis: 20rem;
  flex-shrink: 0;
}

.imgRow .imgCard {
  display: flex;
  flex-direction: column;
}

.imgRow .imgCard > .cardContent {
  flex-grow: 1;
}

.imgRow .imgCard > .Image {
  flex-basis: 20rem;
  flex-shrink: 0;
  overflow-y: hidden;
}
