.container {
  margin: 0;
  padding: 0;
}

.imgSection {
  width: 90%;
  margin: 1rem auto;
  height: auto;
}

.imgSection h3 {
  font-size: 1.5rem;
  margin-block-end: 0em;
}

.airing,
.newsSection,
.topManga,
.upComing,
.shop,
.miss {
  padding-bottom: 3rem;
}

.miss {
  text-align: center;
  font-size: 1.5rem;
  text-transform: capitalize;
  word-wrap: break-word;
}

.imgSection h4 {
  text-align: center;
  font-size: 2.5rem;
}

.imgRow {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 1.5rem;
}

.newsRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.newsLetter {
  position: relative;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
  border-radius: 10px;
  transition: 700ms;
  border: 1px solid black;
  height: 11rem;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.newsImg img {
  border-radius: 10px;
  width: 100%;
  height: 11rem;
  object-fit: cover;
  box-sizing: border-box;
  user-select: none;
}

.newsCardInfo {
  font-size: 0.7rem;
  opacity: 0.8;
  padding: 1rem;
}

.newsCardInfo h2 {
  font-size: 1rem;
}
.newsCardInfo h6 {
  position: absolute;
  top: 70%;
}

.newsLetter:hover,
.newsLetter:active {
  border: 4px solid #0583f2;
  transform: scale(1.05);
  transition: 400ms;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}
.newsLetter:hover > .newsImg img,
.newsLetter:active > .newsImg img {
  transform: scale(1.01);
  padding-bottom: 5px;
  transition: 300ms;
}

.imgCard {
  position: relative;
  border-radius: 10px;
  margin-top: 2rem;
  min-height: auto;
  transition: 800ms;
  width: auto;
  user-select: none;
}

.imgCard:hover,
.imgCard:active {
  border: 4px solid #0583f2;
  background-color: #0583f2;
  transform: scale(1.1);
  transition: 1000ms;
}

.imgCard:hover > .cardInfo,
.imgCard:active > .cardInfo {
  visibility: visible;
  transition: 800ms;
}

.imgCard:hover > .cardImage img,
.imgCard:active > .cardImage img {
  height: 12rem;
  transition: 600ms;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
}

.cardImage {
  position: relative;
  height: auto;
  cursor: pointer;
  user-select: none;
}

.cardImage img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  box-sizing: border-box;
  border-radius: 10px;
  user-select: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cardInfo {
  position: absolute;
  left: 0;
  width: 100%;
  height: max-content;
  visibility: hidden;

  padding: 8px;
  color: white;

  cursor: default;
  font-family: sans-serif;
  font-size: 1rem;
  text-align: center;
  text-transform: capitalize;
}

.cardScore {
  display: none;
}

.cardSynopsis {
  display: none;
}

.cardAction {
  display: none;
}

.cardImage .tag {
  position: absolute;
  bottom: 4px;
  color: #eee;
  left: 0;
  text-transform: uppercase;
  border-radius: 0px 10px 0px 10px;
  padding: 0.2rem;
}

.cardImage .new {
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url(https://myanimelist.net/images/manga_store/icon_new.png);
  background-size: 60px 60px;
  background-position: left top;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}

.cardImage .movieTag {
  background-color: #a90042;
}
.cardImage .tvTag {
  background-color: #0583f2;
}
.cardImage .lnTag {
  background-color: #845ec2;
}
.cardImage .mangaTag {
  background-color: #ffa88b;
}

.cardImage .specialTag {
  background-color: #fa474c;
}
.cardImage .ovaTag {
  background-color: #0093ff;
}
.cardImage .onaTag {
  background-color: #5fdd87;
}
