.container {
  margin: 0;
  padding: 0;
}

.imgSection {
  width: 90%;
  margin: 1rem auto;
  height: auto;
}

.imgSection h3 {
  font-size: 1.5rem;
  margin-block-end: 0em;
  font-family: "Open Sans", sans-serif;
}

.airing,
.newsSection,
.topManga,
.upComing,
.shop,
.miss,
.airingRecent {
  font-family: "Open Sans", sans-serif;
  padding-bottom: 3rem;
}

.imgSection h4 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 2.5rem;
}

.imgRow {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
  column-gap: 2rem;
  align-items: center;
  row-gap: 0.5rem;
}
