.container {
  margin: 0;
  padding: 0;
}

.imgSection {
  width: 90%;
  height: auto;
  font-family: "Open Sans", sans-serif;
  margin: 2rem auto;
}

.imgSectionChar {
  padding: 5%;
  margin: 2rem auto;
  height: auto;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
}

.slider {
  overflow-x: auto;
  overflow-y: hidden;
  height: 26rem;
}

.imgSection h3 {
  font-size: 2rem;
  margin-block-end: 0em;
}

.imgSectionChar h3 {
  font-size: 2rem;
  margin-block-end: 0em;
}

.airing,
.newsSection,
.topManga,
.topChar,
.topNovel,
.topAnime,
.upComming,
.shop,
.airingRecent,
.imgSectionChar {
  font-family: "Open Sans", sans-serif;
}

.topManga,
.topNovel,
.topAnime,
.upComming {
  margin-top: 8rem;
}

.newsSection,
.reviews {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.imgSection h4 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 2.5rem;
}

.imgRow {
  display: flex;
  align-items: center;
  grid-gap: 2rem;
  margin: 0 auto;
  justify-items: center;
}

.imgRow2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
  grid-gap: 3rem;
  margin: 0 auto;
  justify-items: center;
}

.imgRow2 .charDiv{
  margin-bottom: 3rem;
}

.airingAnimeJs .imgRow2 {
  padding-right: 0rem;
}
