.container {
  margin: 0;
  padding: 0;
}

.imgSection {
  width: 90%;
  margin: 2rem auto;
  height: auto;
  padding-top: 2rem;
  font-family: "Open Sans", sans-serif;
}

.slider {
  overflow-y: hidden;
  overflow-x: auto;
  height: 26rem;
}

.imgSection h3 {
  font-size: 2rem;
  margin-block-end: 0em;
}

.airing,
.newsSection,
.topManga,
.topChar,
.topNovel,
.topAnime,
.upComming,
.shop,
.airingRecent {
  font-family: "Open Sans", sans-serif;
}

.imgSection h4 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 2.5rem;
}

.imgRow {
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr)); */
  /* column-gap: 2rem; */
  /* align-items: center; */
  /* row-gap: 0.5rem; */

  display: flex;
  align-items: center;
}
.imgRow2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
  column-gap: 2rem;
  align-items: center;
  row-gap: 0.5rem;

  /* display: flex;
  align-items: center; */
}
