.preview {
  position: relative;
}

.preview:hover > .previewButton,
.preview:active > .previewButton {
  display: unset;
}

.previewButton:hover,
.previewButton:active {
  transition: 400ms;
  font-size: 20px;
}

.previewButton {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 18px;
  transform: translate(-50%, -50%);
  display: none;
}
