.preview {
  position: relative;
}

.preview:hover > .previewButton,
.preview:active > .previewButton {
  display: unset;
}

.previewButton:hover,
.previewButton:active {
  transition: 400ms;
  font-size: 20px;
}

.previewButton {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 18px;
  transform: translate(-50%, -50%);
  display: none;
}

.genre {
  border-left: 1px solid black;
  padding-left: 2rem;
  padding-right: 2rem;
}

.genre h4 {
  font-size: 2rem;
}

.genres {
  border-radius: 12px;
  background: linear-gradient(
    to bottom,
    hsl(208, 96%, 38%),
    hsl(208, 96%, 68%)
  );
}

.genres {
  overflow: hidden;
  text-align: center;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.genres li a {
  color: black;
  border: 3px solid white;
  width: 120px;
  padding: 7px 10px;
  white-space: nowrap;
  display: flex;
  float: left;
  flex-wrap: wrap;
  margin: 5px;
  transition: 400ms;
}

.genres li a:hover {
  text-decoration: none;
  background: #f27d16;
  transition: 0.3s all ease;
}

.shop .grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

@media screen and (max-width: 835px) {
  .genres {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media screen and (max-width: 610px) {
  .shop .grid {
    display: unset;
  }
  .genre {
    border-left: 0px solid black;
  }
  .shop h4 {
    text-align: center;
    padding-top: 2rem;
  }
}
