body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

::selection {
  background-color: #f27d16;
  color: #faeddf;
}

body.active {
  overflow: hidden;
}
