body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f8f8ff;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

::selection {
  background-color: #f27d16;
  color: #faeddf;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background-color: #00abff;
}

body.active {
  overflow: hidden;
}

h3 {
  position: relative;
}

h3 span {
  background-color: white;
  padding-right: 10px;
}

h3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 0.5em;
  border-top: 2px solid #f27d16;
  z-index: -1;
}

.space2 {
  padding-bottom: 6rem;
}

.button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  text-align: center;
  line-height: 21px;
  padding: 0.5rem;
  text-decoration: none;
  color: white;
  background-color: #008cba;
  border-radius: 10px;
}

.button:hover,
.button:active {
  background-color: white;
  color: #008cba;
}
